.post {
  text-align: center;
  width: 17.625rem;
  box-shadow: 0.3125rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.08);
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  padding-bottom: 1.5rem;
  transition: transform 0.2s;
}

.post:hover {
  transform: translate(0, -1rem);
}

.capa {
  width: 100%;
}

.titulo {
  font-family: var(--fonte-secundaria);
  font-size: 1.25rem;
  color: var(--azul-escuro);
  line-height: 1.75rem;
  margin: 1.5rem 0 1.75rem;
}

@media (max-width: 68.75rem) {
  .post {
    width: 21rem;
  }
  .titulo {
    font-weight: 600;
  }
}
