@import 'styles/variaveis';
@import 'styles/breakpoints';

.menu {
  padding: 1.25rem $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 1.25rem $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 1.25rem $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 1.25rem $padding-horizontal-md;
  }
}

.header {
  align-items: center;
  background-image: url('/assets/cardapio/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 18.75rem;
  padding: 0px $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 0rem $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 0rem $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 0rem $padding-horizontal-md;
  }
  &__text {
    color: white;
    font-size: 5rem;
    min-width: 25rem;
    width: 40%;
  }
}

.cardapio {
  padding: 3.125rem $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 3.125rem $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 3.125rem $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 3.125rem $padding-horizontal-md;
  }
  &__titulo {
    color: $dark;
    font-size: 3rem;
    margin-bottom: 1.875rem;
  }
  &__filtros {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.875rem;
    width: 100%;
  }
}
